:root {
    --aquamarine: #b3fcda;
    --myrtle-green: #297373;
    --light-myrtle-green: #358a8a;
    --space-cadet: #2b2d42;
    --uranian-blue: #acd2ed;
    --cherry-blossom: #fcb0b3;
}


.outsideBackground {
   background-color: #efefef;
   width: 100vw;
   height: 100vh;
}

.shopCardHeader {
    background-color: var(--uranian-blue)!important;
    font-size: x-large !important;
    outline: double;
    outline-color: #efefef;
    color: black;
}

.shopCard {
    background-color: #efefef !important;
    width: 80rem !important;
    height: 90vh !important;
    margin: auto;
    outline: double;
    outline-color: #efefef;
}

.shopCardText {
    color: var(--space-cadet);
    font-size: x-large !important;
}

.shopCardButton {
    color: var(--cherry-blossom);
    display: flex;
    align-items: flex-end;
    margin-left: 75vw;
    text-align: center !important;
}


.itemCard {
    outline: double;
    outline-color: #efefef;
    color: var(--space-cadet);
    background-color: var(--aquamarine) !important;
}