.outsideBackground {
   background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(7,67,15,1) 10%, rgba(24,211,233,1) 40%, rgba(255,255,255,1) 100%);
   width: 100vw;
   height: 100vh;
}

.shopCardHeader {
    background-color: hsl(22, 28%, 50%) !important;
    font-size: x-large !important;
    outline: double;
}

.shopCard {
    background-color: #A2755B !important;
    width: 80rem !important;
    height: 90vh !important;
    margin: auto;
    outline: double;
}

.shopCardText {

    font-size: x-large !important;
}

.shopCardButton {

    margin-left: 75vw;
    text-align: center !important;
}


.itemCard {
    outline: double;
    background-color: #D99F70 !important;
}