.fishTank {
    margin: 0 auto; /*No margin on the top and bottom, auto margins on left and right */

}

.left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 0 auto; /*No margin on the top and bottom, auto margins on left and right */
}