.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--cherry-blossom);
    margin-left: 12rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.textInput{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.create {
    border-radius: 10px;
    height: 3rem;
    min-width: 7rem;
    border: none;
    background-color: lightseagreen;
    font-weight: bold;
    color: white;
    transition: font-size 0.3s;
    width: 25%
}

.create:hover {
    font-size: larger;
}