.fishTank {
    /*margin: 0 auto; /*No margin on the top and bottom, auto margins on left and right */
    position:absolute;
}

.left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    position:absolute;
    /*margin: 0 auto; /*No margin on the top and bottom, auto margins on left and right */
}

.fishContainer {
    filter: sepia(0%);
}

.fishContainer:hover {
    filter: sepia(100%);
}


  