.nav_container {
    background-color: var(--aquamarine);
    width: 12rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.nav_container:last-child {
    margin-top: auto;
}

.nav_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

