.title {
    font-size: 2rem;
    margin: 1rem 0 1rem 1rem;
    font-weight: bolder;
    color: var(--space-cadet);
}

.title::after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 75%;
    background-color: var(--space-cadet);
}

.nav_container {
    background-color: var(--cherry-blossom);
    fill-opacity: 20%;
    width: 20rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.nav_list {
    list-style: none;
    padding: 0;
}

.auth {
    margin-top: auto;
}
