.item_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: solid 3px var(--cherry-blossom);
    border-radius: 10px;
    background-color: var(--cherry-blossom);
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s;
}

.item_img {
    width: 10rem;
    height: 8rem;
    pointer-events: none;
    transition: opacity 0.2s;
}

.item_buy_sect {
    background-color: var(--space-cadet);
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.item_container:hover {
    transform: scale(1.1);
}

.item_container:hover .name {
    opacity: 1;
}

.item_container:hover .desc {
    opacity: 1;
}

.item_container:hover .item_img {
    opacity: 0;
}

.desc {
    position: absolute;
    top: 20%;
    opacity: 0;
    transition: opacity 0.2;
    text-align: center;
}

.name {
    font-weight: bolder;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2;
}
