.Form_Group { 
    margin-left: 30rem;
    margin-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    width: 40rem;
    padding-right: 5rem;
    border-radius: 20px;
    border-color: var(--acd2ed);
    background-color: var(--uranian-blue);
    position: absolute;
    display: inline-block;
    bottom: 10%;
}

.entire_form {
    margin-left: 30rem;
    margin-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 40rem;
    padding-right: 5rem;
    border-radius: 20px;
    border-color: var(--acd2ed);
    background-color: var(--uranian-blue);
    display: block;
    bottom: 10%;
}

.entire_form label,
.entire_form input {
  display: block;
  margin-bottom: 1rem;
}

.close_form {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;

}

.close_form:hover,
.close_form:focus {
    color:black;
}

.close_form:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.close_form:active {
    transform: scale(0.99);
}


.task_header { 
    color: var(--cherry-blossom);
    font-size:xx-large;
}

.rendered_task { 
    margin-left: 20rem;
    margin-right: 10rem;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    color: var(--myrtle-green)
}

.to_do { 
    color: var(--space-cadet);
    margin-left: 20rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

.component-area { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.pin_button { 
    margin-left: 30rem;
    margin-right: 10rem;
    position: absolute;
    bottom: 5%;
    color: white;
    font-weight: bold;
    font-size: larger;
    width: 40rem;
    background-color:lightseagreen;
    outline-color: var(--aquamarine);
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
}

.task_name { 
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.checkboxes { 
    display: flex;
    justify-content: space-between;
    column-gap:1rem;

}


.task {
    display: flex;
    align-items: center; /* Vertically center-align label and input */
  }
  
  /* Optional: To add some space between label and input */
  .col {
    margin-right: 10px;
  }
  
