#newHouse {
    display: block;
    width: 100%;
    padding: 14px 28px;
    font-size: 20px;
    text-align: center;
    background-color: #2B2D42;
    color: #ACD2ED;
}

#newHouse:hover {
    background-color: #ACD2ED;
    color: #2B2D42;
}